@use "sass:map";

$color-palette: (
    "lightblack" : #1d3931,
    "green" : #008248,
    "darkgreen": #273731ff,
    "aqua" : #d4e9e2,
    "white" : #f1f8f6,
    "khaki" : #f3f1e7,
    "black" : #000000,
);

*{
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}

@mixin display-flex ($gap: 0px, $align: center, $justify: flex-start){
    display: flex;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
}

nav {
    padding: 20px 0px;

    %hover-green{
        cursor: pointer;
        transition: 0.1s linear;
        color: map.get($color-palette, "green");
    }

    .container{
        width: 85%;
        margin: auto;
        @include display-flex(0px, center, space-between);
    }

    .left-container{
        @include display-flex(35px);

        .icon{
            width: 53px;
            object-fit: contain;
        }
    
        ul{
            @include display-flex(20px);

            li{
                font-weight: 600;
                letter-spacing: 1px;
                color: map.get($color-palette, "lighblack");
                font-size: 15px;
              
                &:hover{
                    @extend %hover-green;
                }
            }
        }
    }

    .right-container{

        @include display-flex(60px);
        font-weight: 500;
        
        .location-button{
            @include display-flex(8px);

            p{
                font-size: 14px;
                color: map.get($color-palette, "lighblack");
            }

            &:hover{
                @extend %hover-green;
            }
        }
        
        %button-design{
            border-radius: 20px;
            border: 1px solid map.get($color-palette, "lighblack");
            padding: 6px 15px;
            font-size: 14px;
            font-weight: 500;
            background-color: transparent;
            color: map.get($color-palette, "lighblack");
            cursor: pointer;
            transition: 0.2s linear;
        }

        button:nth-child(1){
            @extend %button-design;

            &:hover{
                background-color: rgb(230, 229, 229);
            }
        }

        button:nth-child(2){
            @extend %button-design;
            background-color: black;
            color: map.get($color-palette, "white");; 
            margin-left: 5px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.75);
            }
        }
    }
}

.sticky-navbar{
    background-color: map.get($color-palette, "darkgreen");
    padding: 15px 0px;
    position: sticky;
    top: 0;

    p{
        width: 76%;
        margin: auto;
        color: map.get($color-palette, "white");
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 15px;
    }
}

header{
    background-image: url("https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png");
    background-color: map.get($color-palette, "aqua");
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    color: map.get($color-palette, "lightblack");
    display: flex;
    align-items: center;

    section{

        width: 76%;
        margin: auto;

        h1{
            font-size: 36px;
            font-weight: 600;
            line-height: 46px;
        }

        p{
            font-weight: 500;
            font-size: 18px;
            margin: 20px 0px;
            letter-spacing: 0.5px;
        }

        button{
            background-color: #00754a;
            color: white;
            font-weight: 500;
            font-size: 16px;
            padding: 7px 15px;
            border-radius: 20px;
            border: 0px;
            margin-top: 10px;
        }
    }
}

$text-color: map.get($color-palette, "lightblack");


main{

    h1{
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        color: $text-color;
    }
    
    h2{
        font-weight: 600;
        font-size: 17px;
        color: $text-color;
    }
    
    p{
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: $text-color;
    }
    
    u{
        color: map.get($color-palette, "green");
        cursor: pointer;
    }

    .first-section{
        padding: 136px 0px;

        section{
            p{
                text-align: center;
                margin: 15px 0px 0px;
            }
        } 

        .box-container{
            @include display-flex(60px, center, center);
            width: 70%;
            margin: 50px auto;

            section{

                $color-green: map.get($color-palette, "green");

                .number-circle{
                    border: 2px solid $color-green;
                    color: $color-green;
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    font-size: 24px;
                    font-weight: 600;
                    margin: auto;

                    @include display-flex(0px, center, center);
                }

                h2{
                    margin: 30px 0px 20px;
                    text-align: center;
                }

                p{
                    text-align: center;
                }
            }
        }
    }

    .second-section{
        padding: 136px 0px;
        background-color: map.get($color-palette, "aqua");
    }

    .fifth-section{
        padding: 30px;
        background-image: url("./images/background.png");
        background-size: cover;
        
        .containers{
            @include display-flex();
            background-color: map.get($color-palette, "aqua");
            padding: 80px 0px;
            .middle-container{
    
                p{
                    text-align: center;
                }
    
                .box-container{
                    @include display-flex(20px)
                }
            }
    
            .left-container{
                // background-image: url("./images/left.svg");
                // img{
                //     height: 100%;
                // }
        
            }
    
            .right-container{
                background-image: url("./images/right.svg");
                width: 100px;
                height: 100%;
                background-color: red;
            }
        }
    }

    .six-section{
        padding: 100px 0px;
        width: 50%;
        margin: auto;

        h1{
            text-align: left;
        }

        p{ 
            width: 75%;
            margin-top: 15px;
        }
    }

    .seven-section{
        background-color: #f9f9f9;
        padding: 50px 0px;

        u{
            color: map.get($color-palette, "green");
        }

        .container{
            width: 76%;
            margin: auto;
            
            > section 
            >p{
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 8px;
            }
            
            .box-container{
                .section-one{
                    @include display-flex(30px, flex-start);
                    margin-top: 25px;

                    section{
                        flex: 1;
    
                        h3{
                            font-weight: 600;
                            font-size: 15px;
                            letter-spacing: 1.4px;
                            color: rgb(89, 89, 89);
                            margin-bottom: 10px;
                        }
        
                        p{
                            line-height: 24px;
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}


footer{
    .divider{
        height: 50px;
        border-bottom: 1px solid rgb(227, 226, 226);
    }

    .container{
        width: 76%;
        margin: auto;
        margin-bottom: 150px;

        .top{
            @include display-flex(30px, flex-start);
            padding: 50px 0px 20px;

            >div{
                width: 195px;

                h1{
                    font-size: 18px;
                    font-weight: 400;
                }

                li{
                    margin: 25px 0px;
                    font-size: 15px;
                    color: #6c6c6c;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover{
                        color: #000000;
                    }
                }
            }
            
        }
    
        .bottom{
            $gray: #e5e5e5;
            border-top: 2px solid $gray;

            .icon-group{
                @include display-flex(0px);
                padding: 30px 0px;

                img{
                    cursor: pointer;
                    border-radius: 50px;
                    border: 7px solid white;
                    transition: 0.3s linear;

                    &:hover{
                        border-color: #76767629;
                    }
                }
            }

            .tabs{
                @include display-flex;
    
                p{
                    padding: 0px 25px;
                    border-left: 2px solid #a9a9a9;
                    font-size: 15px;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                p:nth-child(1){
                    border: 0px;
                    padding-left: 0px;
                }
            }
    
            .copy-right{
                color: #6c6c6c;
                font-weight: 400;
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
}



