@use "sass:map";

$color-palette: (
    "lightblack" : #1d3931,
    "green" : #008248,
    "darkgreen": #273731ff,
    "aqua" : #d4e9e2,
    "white" : #f1f8f6,
    "khaki" : #f2f0ea,
    "black" : #000000,
);

*{
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}

@mixin display-flex ($gap: 0px, $align: center, $justify: flex-start){
    display: flex;
    gap: $gap;
    align-items: $align;
    justify-content: $justify;
}

nav {
    // padding: 20px 0px;

    %hover-green{
        cursor: pointer;
        transition: 0.1s linear;
        color: map.get($color-palette, "green");
    }

    .container{
        width: 85%;
        margin: auto;
        @include display-flex(0px, center, space-between);

        .burger-menu-container{
            padding: 20px 0px;
            display: none;

            img{
                width: 53px;
                object-fit: contain;
            }
        }
    }

    .left-container{
        @include display-flex(35px);

        .icon{
            width: 53px;
            object-fit: contain;
        }
    
        section{
            ul{
                @include display-flex(25px);
    
                li{
                    font-weight: 600;
                    letter-spacing: 0.3px;
                    color: map.get($color-palette, "lighblack");
                    font-size: 15px;
                    border-bottom: 6px solid transparent;
                    padding: 35px 0px ;

                    &:hover{
                        @extend %hover-green;
                    }
                }
    
                li:nth-child(2){
                    border-bottom: 6px solid map.get($color-palette, "green");
                }
            }

            .nav-line{
                background-color: map.get($color-palette, "green");
                height: 5px;
                width: 100px;
            }
        }
    }

    .right-container{

        @include display-flex(60px);
        font-weight: 500;
        
        .location-button{
            @include display-flex(8px);

            p{
                font-size: 14px;
                color: map.get($color-palette, "lighblack");
            }

            &:hover{
                @extend %hover-green;
            }
        }
        
        %button-design{
            border-radius: 20px;
            border: 1px solid map.get($color-palette, "lighblack");
            padding: 6px 15px;
            font-size: 14px;
            font-weight: 500;
            background-color: transparent;
            color: map.get($color-palette, "lighblack");
            cursor: pointer;
            transition: 0.2s linear;
        }

        button:nth-child(1){
            @extend %button-design;

            &:hover{
                background-color: rgb(230, 229, 229);
            }
        }

        button:nth-child(2){
            @extend %button-design;
            background-color: black;
            color: map.get($color-palette, "white");; 
            margin-left: 5px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.75);
            }
        }
    }
}

.sticky-navbar{
    @include display-flex(0, center, space-between);
    background-color: map.get($color-palette, "darkgreen");
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 1;

    p{
        width: 76%;
        margin: auto;
        color: map.get($color-palette, "white");
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 15px;
    }

    .join-button{
        padding: 5px 15px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: transparent;
        color: white;
        font-weight: 600;
        display: none;
    }
}

header{
    background-image: url("https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png");
    background-color: map.get($color-palette, "aqua");
    background-size: cover;
    background-position: center;
    height: 85vh;
    width: 100%;
    color: map.get($color-palette, "lightblack");
    display: flex;
    align-items: center;

    section{
        width: 76%;
        margin: auto;

        h1{
            font-size: 36px;
            font-weight: 600;
            line-height: 46px;
            color: black;
        }

        p{
            font-weight: 500;
            font-size: 18px;
            margin: 20px 0px;
            letter-spacing: 0.5px;
        }

        button{
            background-color: #00754a;
            color: white;
            font-weight: 500;
            font-size: 16px;
            padding: 7px 15px;
            border-radius: 20px;
            border: 0px;
            margin-top: 10px;
        }
    }
}

main{

    h1{
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        color: black;
    }
    
    h2{
        font-weight: 600;
        font-size: 17px;
        color: map.get($color-palette, "lightblack");
    }
    
    p{
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: map.get($color-palette, "lightblack");
    }
    
    u{
        color: map.get($color-palette, "green");
        cursor: pointer;
    }

    .first-section{
        padding: 136px 0px;

        section{
            p{
                text-align: center;
                margin: 15px 0px 0px;
            }
        } 

        .box-container{
            @include display-flex(50px, center, center);
            width: 65%;
            margin: 50px auto;

            div{
                flex: 1;
                $color-green: map.get($color-palette, "green");

                .number-circle{
                    border: 2px solid $color-green;
                    color: $color-green;
                    width: 45px;
                    height: 45px;
                    border-radius: 50px;
                    font-size: 24px;
                    font-weight: 600;
                    margin: auto;

                    @include display-flex(0px, center, center);
                }

                section{
                    h2{
                        margin: 30px 0px 20px;
                        text-align: center;
                    }
    
                    p{
                        text-align: center;
                    }
                }  
            }
        }
    }

    .second-section{
        padding: 50px 0px 0px;
        background-color: #f1f8f4;

        >h1{
            color: black;
        }

        .tab-container{
            width: max-content;
            margin: auto;

            .tabs{
                @include display-flex(0px);
                margin-top: 60px;
    
                li{
                    text-align: center;
                    width: 110px;
                    font-size: 24px;
                    font-weight: 550;
                    letter-spacing: 1px;
                    cursor: pointer;
                }
            }

            .line-bottom{
                margin-top: 15px;
                background-color: map.get($color-palette, "green");
                height: 4px;
                width: 110px;
                position: relative;
                transition: 0.3s;
                left: 0;
            }
        }

        .content{
            background-color: map.get($color-palette, "aqua");

            >div{
                @include display-flex(50px, center, center);
                width: 40%;
                margin: auto;
                padding: 40px 0px;

                img{
                   width: 350px; 
                }
                
                h1{
                    font-size: 24px;
                    text-align: left;
                    margin-bottom: 15px;
                    color: black;
                }
            }
        }
    }

    .third-section{
        padding: 136px 0px;

        >section{
            width: 40%;
            margin: auto;
            margin-bottom: 50px;
        }

        p, h2{
            text-align: center;
            margin: 15px 0px;
        }

        h2{
            margin: 30px 0px 20px;
            font-size: 17px;
        }

        .container{
            @include display-flex(50px, center, center);
            width: 70%;
            margin: auto;

            img{
                display: block;
                margin: auto;
                height: 100px;
                width: 100px;
            }
        }
    }

    .forth-section{
        padding: 50px 0px;
        background-color: map.get($color-palette, "khaki");

        >p{
            margin: 15px auto;
            text-align: center;
            width: 38%;
            display: block;
        }

        .container{
            .row:nth-child(1){
                border-bottom: 1px solid #d8d7d1;
            }

            .row{
                @include display-flex(50px, flex-start, space-between);
                width: 75%;
                margin: auto;
                padding: 50px 0px;

                p{
                    font-size: 14px;
                }

                >section{
                    flex: 0.6;

                    h1{
                        text-align: left;
                    }
                }

                .col{
                    @include display-flex(20px, flex-start);
                    flex: 1;

                    img{
                        width: 80px;
                    }

                    .img-b{
                        width: 55px;
                    }

                    section{
                        h2{
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }

    .fifth-section{
        padding: 30px;
        background-image: url("./images/background.png");
        background-size: cover;
        
        .containers{
            @include display-flex(100px, center, center);
            background-color: map.get($color-palette, "aqua");
            padding: 80px 0px;
            height: max-content;
            

            .middle-container{
                width: 45%;

                p{
                    text-align: center;
                    margin-top: 15px;
                }
    
                .box-container{
                    @include display-flex(50px);
                    margin: 50px 0px;
                    section{

                        img{
                            width: 180px;
                            display: block;
                            margin: auto;
                            margin-bottom: 25px;
                        }

                        p{
                            font-size: 15px;
                            font-weight: 400;
                        }

                    }
                }

                .join-button{
                    background-color: map.get($color-palette, "green");
                    color: white;
                    padding: 7px 15px;
                    margin: auto;
                    display: block;
                    border: 0px;
                    border-radius: 20px;
                    font-weight: 500;
                    font-size: 15px;
                    transition: 0.3s linear;
                    cursor: pointer;

                    &:hover{
                        background-color: #007549;
                    }
                }
            }
    
            .left-container, .right-container{
                img{
                    width: 150px;
                    height: 300px;
                    transform: scale(2);
                }

            }
        }
    }

    .six-section{
        padding: 100px 0px;
        width: 50%;
        margin: auto;

        h1{
            text-align: left;
        }

        p{ 
            width: 75%;
            margin-top: 15px;
        }
    }

    .seven-section{
        background-color: #f9f9f9;
        padding: 50px 0px;

        u{
            color: map.get($color-palette, "green");
        }

        .container{
            width: 76%;
            margin: auto;
            
            > section 
            >p{
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 8px;
            }
            
            .box-container{
                .section-one{
                    @include display-flex(30px, flex-start);
                    margin-top: 25px;

                    section{
                        flex: 1;
    
                        h3{
                            font-weight: 600;
                            font-size: 15px;
                            letter-spacing: 1.4px;
                            color: rgb(89, 89, 89);
                            margin-bottom: 10px;
                        }
        
                        p{
                            line-height: 24px;
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

footer{
    .divider{
        height: 50px;
        border-bottom: 1px solid rgb(227, 226, 226);
    }

    .container{
        width: 76%;
        margin: auto;
        margin-bottom: 150px;

        .top{
            @include display-flex(30px, flex-start);
            padding: 50px 0px 20px;

            >div{
                width: 195px;

                .accordion-button{
                    @include display-flex(0,center , space-between);

                    h1{
                        font-size: 18px;
                        font-weight: 400;
                    }

                    img{
                        display: none;
                    }
                }

                section{
    
                    li{
                        margin-top: 20px;
                        font-size: 15px;
                        color: #6c6c6c;
                        font-weight: 400;
                        cursor: pointer;
    
                        &:hover{
                            color: #000000;
                        }
                    }
                }
            }    
        }
    
        .bottom{
            $gray: #e5e5e5;
            border-top: 2px solid $gray;

            .icon-group{
                @include display-flex(0px);
                padding: 30px 0px;

                img{
                    cursor: pointer;
                    border-radius: 50px;
                    border: 7px solid white;
                    transition: 0.3s linear;

                    &:hover{
                        border-color: #76767629;
                    }
                }
            }

            .tabs{
                @include display-flex();
    
                p{
                    padding: 0px 25px;
                    border-left: 2px solid #a9a9a9;
                    font-size: 15px;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                p:nth-child(1){
                    border: 0px;
                    padding-left: 0px;
                }
            }
    
            .copy-right{
                color: #6c6c6c;
                font-weight: 400;
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
}

$laptop-breakpoint:1080px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;

@media screen and (max-width: $laptop-breakpoint) {
    nav{
        .container{
            width: 93%;
        }
    }
    
    .sticky-navbar{
        p{
            width: 77%;
        }
    }

    header{
        height: 70vh;

        section{
            width: 90%;
        }
    }

    main{
        .first-section{
            padding: 120px 0px;

            .box-container{
                width: 85%;
            }
        }

        .second-section{
            .content{
                >div{
                    width: 70%;
                }
            }
        }

        .third-section{
            section{
                width: 50%;
            }

            .container{
                gap: 35px;
                width: 85%;
                
                img{
                    width: 110px;
                    height: 110px;
                }
            }
        }

        .forth-section{
            >p{
                width: 45%;
            }

            .container{
                .row{
                    width: 90%;
                }
               
            }
        }

        .fifth-section{
            .containers{
                gap: 50px;
                padding: 50px 0px;
    
                .middle-container{
                    width: 55%;
        
                    .box-container{
                        gap: 40px;
                    }
                }
        
                .left-container, .right-container{
                    img{
                        width: 100px;
                        height: 250px;
                    }
                }
            }
        }

        .six-section{
            width: 60%;
    
            p{ 
                width: 80%;
            }
        }
    
        .seven-section{
            padding: 40px 0px;
    
            .container{
                width: 90%;
            }
        }
    }

    footer{
        .container{
            width: 90%;
        }

        .bottom{
            .icon-group{
                padding: 20px 0px;
            }
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    nav{

        .container{
            .burger-menu-container{
                @include display-flex(0, center, space-between);
                width: 100%;
            }
            .left-container, .right-container{
                display: none;
            }
        } 
    }

    header{
        height: 50vh;

        section{
            width: 90%;

            h1{
                font-size: 30px;
                line-height: 36px;
            }
    
            p{
                font-size: 16px;
                margin: 15px 0px;
            }
    
            button{
                font-size: 15px;
            }
        }
    }

    main{
        .second-section{
            .content{
                >div{
                    width: 80%;
                }
            }
        }

        .third-section{
            section{
                width: 70%;
            }
        }

        .forth-section{
            >p{
                width: 65%;
            }

            .container{
                .row{
                    width: 90%;
                    flex-wrap: wrap;
                    row-gap: 20px;

                    >section{
                        flex: 100%;

                        h1{
                            font-size: 22px;
                        }
                    }

                    .col{
                        flex: 1;
                    }
                }
            }
        }

        .fifth-section{
            .containers{
                .middle-container{
                    width: 60%;
        
                    .box-container{
                        gap: 25px;
                    }
                }
                .left-container, .right-container{
                    img{
                        width: 60px;
                    }
                }
            }
        }

        .six-section{
            p{ 
                width: 85%;
            }
        }
    
        .seven-section{
    
            .container{
                width: 90%;
            }
        }
    }

    footer{
        .container{

            .top{
                flex-direction: column;
                padding-bottom: 50px;
    
                >div{
                    width: 100%;
                    .accordion-button{
                        img{
                            display: block;
                        }
                    }
    
                    section{
                        display: none;
                    }
                }    
            }
            
            .bottom{
                .tabs{
                    flex-direction: column;
                    align-items: flex-start;

                    p{
                        border: 0px;
                        padding: 10px 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    nav{
        .container{
            .burger-menu-container{
                padding: 15px 0px;

                img{
                    width: 45px;
                }
            }
        }
    }

    .sticky-navbar{
        padding: 10px 20px;
        p{
            width: max-content;
            margin: 0px;
            font-size: 12px;
        }

        .join-button{
            display: block;
        }
    }

    header{
        background-position: 42%;
    }

    main{
        h1{
            font-size: 22px;
        }
        h2{
            font-size: 17px;
        }
        p{
            font-size: 13px;
        }

        .first-section{
            padding: 50px 0px;
    
            .box-container{
                flex-direction: column;
                row-gap: 0px;
                width: 90%;
                margin: 20px auto;

                div{
                    @include display-flex(20px);

                    .number-circle{
                        padding: 0px 15px;
                    }

                    .circle-1{
                        padding: 0px 18px;
                    }
                        
                    section{  
                        h2, p{
                            text-align: left;
                        }
                    }
                }
            }
        }

        .second-section{
            .tab-container{
                width: 100%;

                .tabs{
                    margin-top: 25px;
                    li{
                       width: 20%;
                       font-size: 17px;
                    }
                }

                .line-bottom{
                    width: 20%;
                }
            }
            .content{
                
                >div{
                    padding-top: 20px;
                    width: 90%;
                    flex-direction: column;

                    img{
                        width: 90%;
                    }

                    section{
                        h1, p{
                            text-align: center;
                        }

                        h1{
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .third-section{
            padding: 50px 0px;

            section{
                width: 95%;
            }

            .container{
                flex-direction: column;
                width: 90%;

                >div{
                    @include display-flex(20px, flex-start);

                    section{

                        p,h2{
                            text-align: left;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }

        .forth-section{
            >p{
                width: 90%;
            }

            .container{
                .row{
                    width: 90%;
                    row-gap: 30px;

                    >section{
                        flex: 100%;

                        h1{
                            font-size: 18px;
                        }
                    }

                    .col{
                        flex: 100%;

                        .img-b{
                            padding: 0px 12px;
                        }
                    }
                }
            }
        }

        .fifth-section{
            padding: 10px;

            .containers{

                .middle-container{
                    width: 90%;
        
                    .box-container{
                        gap: 50px;
                        flex-direction: column;
                    }
                }
                .left-container, .right-container{
                    img{
                        display: none;
                    }
                    background-color: red;
                }
            }
        }

        .six-section{
            width: 90%;

            p{ 
                width: 100%;
            }
        }
    
        .seven-section{
            .container{
                .box-container{
                    .section-one{
                        flex-direction: column; 
                        row-gap: 10px;
                    }
                }
            }
        }
    }

    footer{
        .container{

            .top{
                flex-direction: column;
                padding-bottom: 50px;
    
                >div{
                    width: 100%;
                    .accordion-button{
                        img{
                            display: block;
                        }
                    }
    
                    section{
                        display: none;
                    }
                }    
            }
            
            .bottom{
                .tabs{
                    flex-direction: column;
                    align-items: flex-start;

                    p{
                        border: 0px;
                        padding: 10px 0px;
                    }
                }
            }
        }
    }
}


